@import '/css/variable/variable.css';

* {
  max-height: 600px;
  color: var(--black);
  font-size: 14px;
  font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
}

.main-screen {
  padding: var(--horizantal-space);
  margin-top: -30px;
}
